h3{
    color: blueviolet;
}
.cls{
   font-family: Georgia;
color: palevioletred;
}
#ak{
    font-family: serif ;
    color:brown;
}
p{
    color: darkgreen;
}
*{
    background-image: url("https://pngtree.com/freebackground/blue-carbon-background-with-sport-style-and-golden-light_1200848.html");

}

